{erl_opts, [debug_info]}.

{profiles, [
	{aldo, [
		{erl_opts, [{d, 'ALDO', 1}]}
	]},
	{kilian, [
		{erl_opts, [{d, 'KILIAN', 1}]}
	]}
] }.

{plugins, [
    {relflow, ".*", {git, "https://github.com/RJ/relflow.git", {branch, "master"}}}
]}.

{deps, [
	{i2c, {git, "https://github.com/nextl00p/i2c.git", {ref, "67af27558ae1a656275dc7b765f1e34be0211503"}}},
	{gpio, {git, "https://github.com/paoloo/gpio.git"}}
]}.

{relx, [{release, {multicopter, "0.0.1"},
	[multicopter]},
	{vm_args, "config/vm.args"},
	{sys_config, "config/sys.config"},
	%Just overwrite the configuration parameters
	{sys_config, "config/sys.config.own"}
]}.
{pre_hooks, [{"linux", compile, "../scripts/setup.sh"}]}.
%Unfortunately rebar3 does only recognize one config directive atm, we need a workaround for that.
{shell, [{config, "config/sys.config"}, {config, "config/sys.config.own"}]}.
